container_commands:
  01_update_bundler:
    command: "gem update bundler"
  02_bundle_install:
    command: "bundle install"
  03_set_permissions:
    command: "chmod -R go+w /var/app/current/log && chmod -R go+w /var/app/current/tmp/cache"
  04_install_yarn:
    command: "sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo && curl --silent --location https://rpm.nodesource.com/setup_12.x | sudo bash - && sudo yum install yarn -y"
  05_precompile_assets:
    command: "bundle exec rails assets:precompile"
  06_precompile_webpacker:
    command: "bundle exec rails webpacker:compile"
  07_db_seed:
    command: "bundle exec rails db:seed"
