#files:
#  "/etc/nginx/default.d/01-timeout.conf":
#    mode: “000644”
#    owner: root
#    group: root
#    content: |
#      location /assets {
#        alias /var/app/current/public/assets;
#        gzip_static on;
#        gzip on;
#        expires max;
#        add_header Cache-Control public;
#      }
container_commands:
  nginx_reload:
    command: "sudo service nginx reload"
