files:
  "/opt/elasticbeanstalk/support/conf/sidekiq_worker.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      description "Elastic Beanstalk Sidekiq Background Worker"

      # Greatly reduce Ruby memory fragmentation and heap usage
      # https://www.mikeperham.com/2018/04/25/taming-rails-memory-bloat/
      env MALLOC_ARENA_MAX=2

      respawn
      respawn limit 3 30

      # TERM is sent by sidekiqctl when stopping sidekiq. Without declaring these as
      # normal exit codes, it just respawns.
      normal exit 0 TERM

      # Upstart waits 5 seconds by default to kill a process. Increase timeout to
      # give sidekiq process enough time to exit.
      kill timeout 30

      script
      exec /bin/bash <<"EOT"
        EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
        EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

        . $EB_SUPPORT_DIR/envvars
        . $EB_SCRIPT_DIR/use-app-ruby.sh

        EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

        cd $EB_APP_DEPLOY_DIR
        echo "Bundle exec sidekiq worker"
        exec bundle exec sidekiq -e ${RACK_ENV} \
          -C ${EB_APP_DEPLOY_DIR}/config/sidekiq_worker.yml >/var/log/sidekiq_worker.log 2>&1
      EOT
      end script
