files:
  "/tmp/sidekiq_mute.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      skwpid=$(initctl status sidekiq_worker | grep /running | awk '{print $NF}')
      if [ -f skwpid ]
      then
        echo "TSTP/quieting sidekiq worker"
        sudo kill -TSTP skwpid
      fi

      # skw2pid=$(initctl status sidekiq_worker2 | grep /running | awk '{print $NF}')
      # if [ -f skw2pid ]
      # then
        # echo "TSTP/quieting sidekiq worker 2"
        # sudo kill -TSTP skw2pid
      # fi
