#files:
#  "/tmp/sidekiq_restart.sh":
#    mode: "000755"
#    owner: root
#    group: root
#    content: |
#      #!/bin/bash
#      skwpid=$(initctl status sidekiq_worker | grep /running | awk '{print $NF}')
#      if [ -f skwpid ]
#      then
#        echo "TERM/terminating sidekiq worker"
#        sudo kill -TERM skwpid
#      fi
#
#      # skw2pid=$(initctl status sidekiq_worker2 | grep /running | awk '{print $NF}')
#      # if [ -f skw2pid ]
#      # then
#        # echo "TERM/terminating sidekiq worker2"
#        # sudo kill -TERM skw2pid
#      # fi
#
#      echo "STOPPING all sidekiq workers"
#      sudo stop workers
#
#      echo "STARTING all sidekiq workers"
#      sudo start workers
