files:
  "/tmp/sidekiq_restart.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      skwpid=$(initctl status sidekiq_worker | grep /running | awk '{print $NF}')
      if [ -f skwpid ]
      then
        echo "TERM/terminating sidekiq worker"
        sudo kill -TERM skwpid
      fi

      echo "STOPPING all sidekiq workers"
      sudo stop workers

      echo "STARTING all sidekiq workers"
      sudo start workers
