container_commands:
  01_update_bundler:
    command: "gem update bundler"
  02_bundle_install:
    command: "bundle install"
  03_set_permissions:
    command: "chmod -R go+w /var/app/current/log && chmod -R go+w /var/app/current/tmp/cache"
  30_precompile_assets:
    command: "bundle exec rails assets:precompile"
  40_precompile_webpacker:
    command: "bundle exec rails webpacker:compile"
  50_fake_to_check:
    command: "bundle exec fakecommand"
