- flash.each do |status, message|
  javascript:
    alertify.set('notifier','position', 'top-right');
    var wait = status == 'success' ? 2 : 7;
    alertify.notify("#{message}", "#{status}", wait);
