javascript:
    alertify.set('notifier', 'position', 'top-center');
    var wait = status == 'success' ? 2 : 7;
    alertify.notify("#{message}", "#{status}", wait, function () {
        if ("#{url}") {
            console.log('here');
            window.location = "#{url}"
        }
    });
