body {
  font-family: 'Ubuntu', sans-serif;

  & > .container, .container-fluid {
    padding-top: 1.5rem;
    padding-bottom: 5rem;
  }
}

.text-center {
  text-align: center;
}

.no-underline {
  text-underline: none;

  a:active, a:focus, a:hover {
    text-decoration: none;
  }
}

.corner-dropdown {
  z-index: 1000;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.corner-button {
  position: fixed;
  bottom: 5%;
  right: 5%;

  a {
    color: inherit;
  }
}

h1 {
  margin-bottom: 1.5rem;
}

label.form-control {
  font-weight: bold;
  border: none;

  &:hover {
    box-shadow: none;
  }
}

.m-t-5 {
  margin-top: 5px
}

table {
  td {
    white-space:pre
  }
}

.dataTables_wrapper {
  display: block;

  .pagination {
    text-align: right;
    background: transparent;

    .paginate_button {
      display: inline-block;
      border-radius: 2px;
      transition-duration: 0.3s;
      transition-property: box-shadow;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      background-color: transparent;
      background-image: none;
      border: 0;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1;
      margin: 0;
      max-width: 100%;
      min-width: 5.5rem;
      padding: 0.6875rem 1rem;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
}

.estimation_task_form.create_form {
  input[type='submit'] {
    //position: absolute;
    //left: 101%;
    //bottom: 1.5rem;
  }
}

#total_optimistic, #total_pessimistic {
  border-width: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: bold;

  &:hover {
    box-shadow: none;
    border-color: inherit;
  }
}

.estimation_task_form, .feature_form {
  .form-control, textarea.form-control {
    border-radius: 0;
    min-height: 2rem;
    border-width: 1px;
    padding: 0.1rem 0.5rem;

    &:hover {
      box-shadow: none;
      border-color: inherit;
    }
  }

  .optimistic-col, .pessimistic-col {
    input {
      text-align: center;
    }
  }

  .col {
    padding: 0;
  }
}

.specification-tables {

  .card {
    margin-bottom: 1rem;
  }
}

.task-row {
  min-height: 2rem;

  .col {
    display: inline-flex;
  }

}

.breadcrumb {
  margin: 0.5rem;
  padding: 0.5rem;
  min-height: 0;
}

.bottom-actions-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 5;

  .btn:not(.btn-primary):not(.btn-success):not(.btn-warning):not(.btn-info):not(.btn-danger) {
    background-color: white;
  }
}