<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
      <%= wicked_pdf_stylesheet_pack_tag 'pdf' %>
    <style>
      div {
        color: red;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
