<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
      <%= wicked_pdf_javascript_pack_tag "pdf" %>
    <style>
      div {
        color: red;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
